
div.secondpage{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }
  
  p.three{  
    margin-top: 50px;
    font-size: 65px;
    text-align: center;
    color: #000000;
    font-weight: 600;
  }
  
  div.img1 img, div.img2 img, div.img3 img, div.img4 img, div.img5 img, div.img6 img, div.img7 img, div.img8 img, div.img9 img{
    height: 350px;
    width: 350px;
    z-index: 10;
    border-radius: 30px;
    margin: 50px;
  }

  div.four, div.seven, div.ten {
    position: relative;
    bottom: 40px;
    padding: 20px 170px 20px 20px;
    border: none;
    background: #ffffff;
    border-radius: 20px;
    
  }
  
  
  div.thirteen, div.sixteen{
    position: relative;
    bottom: 40px;
    padding: 20px 150px 20px 10px;
    border: none;
    background: #ffffff;
    border-radius: 20px;
  }
  
  div.nineteen, div.twentytwo{
    position: relative;
    bottom: 40px;
    padding: 20px 125px 20px 10px;
    border: none;
    background: #ffffff;
    border-radius: 20px;
  }
  
  div.twentyfive{
    position: relative;
    bottom: 40px;
    padding: 20px 130px 20px 10px;
    border: none;
    background: #ffffff;
    border-radius: 20px;
  }
  
  div.twentyeight{
    position: relative;
    bottom: 40px;
    padding: 20px 185px 20px 20px;
    border: none;
    background: #ffffff;
    border-radius: 20px;
  }
  
  

  span.five, span.eight, span.eleven, span.fourteen, span.seventeen, span.twenty, span.twentythree, span.twentysix, span.twentynine{
    font-size: 25px;
    color: #000000;
    font-weight: 600;
  
  }
  span.six, span.nine, span.twelve, span.fifteen, span.eighteen, span.twentyone, span.twentyfour, span.twentyseven, span.thirty{
    font-size: 20px;
    color: #6663e9;
    font-weight: 600;
  }
  
  button.rent{
    position: relative;
    top: -20px;
    left: 150px;
    background: #6663e9;
    font-size: 15px;
    color: #ffffff;
    padding: 20px 35px;
    border: none;
    border-radius: 30px;
  }
/* 
  button.rent:hover{
    z-index: 2;
  } */


  
div.img1:hover img, div.img2:hover img, div.img3:hover img, div.img7:hover img, div.img8:hover img, div.img9:hover img{
  z-index: 2;
  box-shadow: 10px 10px 50px 10px #6663e9;
  transform: rotate(10deg) translate(0%, 10%);
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

  div.img4:hover img, div.img5:hover img, div.img6:hover img{
    box-shadow: 10px 10px 50px 10px #6663e9;
    transform: rotate(-10deg) translate(0%, 10%);
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  div.img1:hover,
  div.img2:hover,
  div.img3:hover,
  div.img4:hover,
  div.img5:hover,
  div.img6:hover,
  div.img7:hover,
  div.img8:hover,
  div.img9:hover, button.rent{
    color: #6663e9;
    font-weight: 700;
    background: #000000;
    box-shadow: 0px 0px 10px 2px #6663e9;
    cursor: pointer;
    z-index: 3;
  }